/*  MAIN CSS  */

body {
    background-color: black;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



/*.menu {*/
/*!*width: 100%;*!*/
/*!*height: 55px;*!*/
/*!*margin: 0 auto;*!*/
/*!*padding-top: 40px;*!*/
/*!*padding-right: 36px;*!*/
/*!*}*!*/

/*.menu-item {*/
/*font-family: Roboto, serif;*/
/*font-size: 20px;*/
/*font-weight: 700;*/
/*line-height: 41px;*/
/*height: 41px;*/
/*width: 103px;*/
/*color: white;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*position: relative;*/
/*right: 0;*/
/*}*/

/*.menu-item.selected {*/
/*color: black;*/
/*background-color: #fff200;*/
/*}*/

/*.menu-item a:hover {*/
/*background-color: #555;*/
/*color: white;*/
/*}*/

/*.menu-item.selected a:hover {*/
/*color: red;*/
/*background-color: #fff200;*/
/*}*/

/*.menu-item.selected:after {*/
/*content: "";*/
/*position: absolute;*/
/*left: 36%;*/
/*top: 100%;*/
/*!*width: 0;*!*/
/*!*height: 0;*!*/
/*border-top: 14px solid #fff200;*/
/*border-right: 13px solid transparent;*/
/*border-left: 13px solid transparent;*/
/*border-bottom: 13px solid transparent;*/
/*}*/

/*a {*/
/*color: #0060B6;*/
/*text-decoration: none;*/
/*}*/

a:hover {
    /*color: #00A0C6;*/
    text-decoration: none;
    cursor: pointer;
}

.info-block {
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.info-block > h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 60px;
}

.info-item {
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
}

.info-item > label {
    font-size: 30px;
    font-weight: 700;
}

.info-item > span {
    font-size: 20px;
    font-weight: 300;
}

.bask-text {
    color: #767678;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
}

hr {
    width: 135px;
    height: 8px;
    background: #fff200;
    margin: 0;
    padding: 0;
}

.sub-menu-header {
    line-height: 60px;
    font-size: 30px;
    font-weight: 700;
}

.sub-menu-body {
    color: #3f3f3f;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
}

.sub-menu-body + p {
    color: #767678;
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
    font-style: italic;
    line-height: 42px;
}

.socialmedia {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.base-footer p {
    color: #fff;

    font-size: 11px;
    /* Text style for "Valery" */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*Text style for "the" */
    /*font-family: LibreBaskerville;*/
    /*font-style: italic;*/
}

.base-footer p a {
    color: inherit;
    text-decoration: underline;
}