.bg_logo {
    z-index: -2;
    width: 43%;
    float: right;

    margin-top: 30px;
    margin-top: -1.56vw;
}

/*
* Main info
*/
.info-block {
    padding-top: 26%;

    padding-left: 215px;
    padding-left: 11.198vw;

    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.info-block > h1 {
    font-weight: 700;

    font-size: 58px;
    font-size: 3.02vw;

    line-height: 96px;
    line-height: 5vw;
}

.info-item {
    padding: 0;
    font-weight: 300;

    font-size: 20px;
    font-size: 1.04vw;

    float: left;

    width: 285px;
    width: 14.8vw;
}

.sub-menu-header {
    line-height: 60px;
    line-height: 3.2vw;

    font-size: 30px;
    font-size: 1.56vw;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.sub-menu-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    font-size: 20px;
    font-size: 1.04vw;

    line-height: 57px;
    line-height: 3vw;
}

.sub-menu-body + p {
    color: #767678;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;

    font-size: 14px;
    font-size: 0.73vw;
}

.socialmedia {
    vertical-align: middle;

    width: 32px;
    width: 2.2vw;

    height: 32px;
    height: 2.2vw;

    margin: 15px 10px 0 0;
    margin: 0.78vw 0.52vw 0 0;
}

hr {
    width: 135px;
    width: 7.03vw;

    height: 8px;
    height: 0.42vw;

    background: #fff200;
    margin: 0;
    padding: 0;

    /* Fix for IE */
    text-align: left;
}

/*
* Footer
*/
.base-footer {
    color: #ffffff;
}

.base-footer a {
    color: #fff;
}

.base-footer a:hover {
    color: #999;
}

/*
* Resize for small screens
*/
@media (max-width: 800px) {
    .info-item {
        float: none;
    }

    .info-block {
        padding-left: 0;
        text-align: center;
    }

    hr {
        margin: auto;
        padding: auto;
    }
}