/*
 * Footer
 */
.base-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-size: 0.572916667vw;

    color: #ffffff;
    /*IE8 proofing */
    color: rgba(255, 255, 255, 1);
    position: fixed;
    bottom: 54px;
    bottom: 4.5vh;

    left: 52px;
    left: 2.708333333vw;
    text-align: left;
}

.base-footer a {
    color: #fff;
}

.base-footer a:hover {
    color: #999;
}