body {
    /*background: #000;*/
}

.bg_logo {
    width: 100%;

    top: -77px;
    top: -30vw;
}

/*
* Menu
*/
/*TODO : remove duplicates*/

.menu-nav > li > a {
    color: #000;
}

.menu-nav > .active:after {
    content: "";
    position: absolute;
    left: 1.56vw;
    border-top: 0.833vw solid #fff200;
    border-right: 0.677vw solid transparent;
    border-left: 0.677vw solid transparent;
    border-bottom: 0.677vw solid transparent;
}

/*
* Main info
*/
.info-block {
    color: #fff;
}

/*TODO : remove duplicates*/
.info-block > h1 {
    font-weight: 700;

    font-size: 58px;
    font-size: 3.02vw;

    line-height: 60px;
    line-height: 3.1vw;

    width: 270px;
    width: 14vw;
}

.info-item {
    padding: 0;
    font-weight: 300;

    font-size: 20px;
    font-size: 1.04vw;

    float: left;

    width: 371px;
    width: 19.32vw;
}

.sub-menu-body {
    color: #d7d7d7;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    font-size: 20px;
    font-size: 1.04vw;

    line-height: 28px;
    line-height: 1.5vw;
}

.sub-menu-body p {
    color: #d7d7d7;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;

    font-size: 14px;
    font-size: 0.73vw;
}

/*
 * Arrows
 */
.scene-arrow-left::before {
    border-left-color: #303030;
    border-bottom-color: #303030;
}

.scene-arrow-right::before {
    border-right-color: #303030;
    border-top-color: #303030;
}

/*
 * Footer
 */
.base-footer {
    color: #fff;
}

.base-footer a {
    color: #fff;
}

.base-footer a:hover {
    color: #3c3c3c;
}